/*Non-bootstrap/personal CSS*/

#headerRow{
	background-color: rgba(19,83,243,.8);
}

#headerImage{
	-moz-box-shadow: .25em .5em 1em;
	-ms-box-shadow: .25em .5em 1em;
	-webkit-box-shadow: .25em .5em 1em;
	-o-box-shadow: .25em .5em 1em;
	box-shadow: .25em .5em 1em;
}

#headerLead{
	margin-top: 1.1em;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

#lead{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

#aboutLead{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1.2em;
}

#aboutParagraph{
	font-family: 'Roboto Condensed', sans-serif;
}

hr {
  border:none;
  border-top:1px dotted;
  color:rgba(19,83,243,.8);
  height:1px;
  width:75%;
}

#projectsLead{
	font-family: 'Roboto Condensed', sans-serif;
}

#projectHeader{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1.1em;
}

#projectImage{
	margin-top: 1.1em;
	-moz-box-shadow: .25em .5em 1em;
	-ms-box-shadow: .25em .5em 1em;
	-webkit-box-shadow: .25em .5em 1em;
	-o-box-shadow: .25em .5em 1em;
	box-shadow: .25em .5em 1em;
}

#experienceParagraph{
	font-family: 'Roboto Condensed', sans-serif;
}

#contactParagraphEmail{
	font-family: 'Roboto Condensed', sans-serif;
}

#contactParagraphEmail:hover{
	color: rgba(152,30,50,1);
}

#contactParagraphLinkedin{
	font-family: 'Roboto Condensed', sans-serif;
}

#contactParagraphLinkedin:hover{
	color: rgba(0,119,181,1);
}

#contactParagraphGithub{
	font-family: 'Roboto Condensed', sans-serif;
}

#contactParagraphGithub:hover{
	color: rgba(110,84,148,1);
}

#contactParagraphResume{
	font-family: 'Roboto Condensed', sans-serif;
}

#contactParagraphResume:hover{
	color:black;
}

a {
	color: rgb(0,0,0);
}

#projectInfo{
	font-family: 'Roboto Condensed', sans-serif;
}

#projectInfoWrapper{
	margin-top: 1.8em;
}