/*Non-bootstrap/personal CSS*/

#headerRow{
	background: linear-gradient(rgba(19,83,243,.8), rgba(19,83,165,.8));
}

#headerImage{
	-moz-box-shadow: .25em .5em 1em;
	-ms-box-shadow: .25em .5em 1em;
	-webkit-box-shadow: .25em .5em 1em;
	-o-box-shadow: .25em .5em 1em;
	box-shadow: .25em .5em 1em;
	margin-top: 2em;
	width: 160px;
    min-height: 160px;
    max-height: auto;
}

#headerLead{
	margin-top: 1.1em;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

#lead{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

#aboutLead{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1.2em;
}

#aboutParagraph{
	font-family: 'Roboto Condensed', sans-serif;
}

hr {
  border:none;
  border-top:1px dotted;
  color:rgba(19,83,243,.8);
  height:1px;
  width:75%;
}

#projectsLead{
	font-family: 'Roboto Condensed', sans-serif;
}

#projectHeader{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1.1em;
}

#projectImage{
	margin-top: 1.1em;
	-moz-box-shadow: .25em .5em 1em;
	-ms-box-shadow: .25em .5em 1em;
	-webkit-box-shadow: .25em .5em 1em;
	-o-box-shadow: .25em .5em 1em;
	box-shadow: .25em .5em 1em;
}

#experienceParagraph{
	font-family: 'Roboto Condensed', sans-serif;
}

#emailButton{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: rgba(152,30,50,1);
	margin-bottom: 1.1em;
	margin-top: 1.2em;
	outline:none;
	border: none;
}

#emailButton:hover{
	background-color: rgba(152,30,50,.85);
}

#linkedinButton{
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 1.1em;
	background-color: rgba(0,119,181,1);
	outline:none;
	border:none;
}

#linkedinButton:hover{
	background-color: rgba(0,119,181,.85);
}

#githubButton{
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 1.1em;
	background-color:rgba(110,84,148,1);
	outline:none;
	border:none;
}

#githubButton:hover{
	background-color:rgba(110,84,148,.85);
}

#visitSiteButton{
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 1.1em;
	background-color: rgba(19,83,243,1);
	outline:none;
	border:none;
}

#visitSiteButton:hover{
	background-color: rgba(19,83,243,.85);
}

#resumeButton{
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 2em;
	outline:none;
	border:none;
	background-color: rgba(19,83,243,.8);
}

#resumeButton:hover{
	background-color: rgba(19,83,243,.7);
}

a {
	color: rgb(0,0,0);
}

#projectInfo{
	font-family: 'Roboto Condensed', sans-serif;
}

#projectInfoWrapper{
	margin-top: 1.8em;
	margin-right: 1.8em;
	margin-left: 1.8em;
}

#langHead{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top:1.1em;
}

#langHeadTop{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 1.05em;
}

#langOrTech{
	font-family: 'Roboto Condensed', sans-serif;
}

#contactLead{
	font-family: 'Roboto Condensed', sans-serif;
}